<p>This is a demo that shows how you can plug a react app inside a rails app
using stimulus.js</p>

<p>If you go to the <a href="/with_react">page with react</a> you will see a
page with some counters implemented using react and started using a stimulus
controller</p>

<p>By starting the react app with stimulus.js we can then move back to the <a
  href="/">index</a>, that don't have any react component, and the go back to the <a
  href="/with_react"> page with react</a> using turbo, and stimulus.js will
initialize the app.</p>
